[data-bs-theme="dark"] {
    --bs-body-bg: #232D3F !important;
    --bs-secondary-bg: #0F0F0F !important;
    --bs-primary: #005B41 !important;
    --bs-primary-rgb: 0, 91, 65 !important;
    --altrocolore: #008170;

}

body {
    background: radial-gradient( var(--bs-body-bg), var(--bs-secondary-bg)) !important;     
}
.secbg {
    background-color: var(--bs-secondary-bg);
    
}

.evidbg {
    background-color: var(--bs-primary);
}

.accentbg {
    background-color: var(--bs-body-bg);
}

.evidtext{
    color: var(--altrocolore);
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover, .btn-primary:active {
    background-color: rgba(var(--bs-primary-rgb), 0.5) !important;
    border-color: rgba(var(--bs-primary-rgb), 0.5) !important;
}

.form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-valid, .was-validated .form-control:valid {
    background-image: none !important;
}

.carousel-indicators [data-bs-target] {
    width: 50px;
    height: 4px;
    background-color: white !important;
}

.list-group-item {
    background: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    border-color: #ffffff1a;
}

.list-group-item:hover{
    filter:brightness(1.5);
}

.roundbtn:hover {
    filter: brightness(1.5);
    transform: scale(1.1);
}

#fullblur {
    backdrop-filter: blur(5px);
}


.roundbtn {
    width:3.5rem; 
    height:3.5rem;
    font-size: larger;
    font-weight: bolder;
    border-radius:50%;
    border:none;
    background-color: var(--bs-primary);
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.btn-close:focus {
    border: none;
    box-shadow: none !important;
}

.text-secondary {
    margin-bottom: 0;
}

.form-control:focus, .form-select:focus {
    box-shadow: none !important;
}

.btn-outline-secondary:hover , .btn-outline-secondary:active {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn.active {
    background-color: var(--altrocolore);
    border-color: var(--altrocolore);
}
#testonota:empty::before {
    content: attr(data-placeholder);
    color: #888;
    pointer-events: none;
}

.notegroup-1 {
    color: green;
}
.notegroup-2 {
    color: yellow;
}
.notegroup-3 {
    color: orange;
}
.notegroup-4 {
    color: red;
}
.notegroup-5 {
    color: purple;
}