[data-bs-theme="dark"] {
    --bs-body-bg: #232D3F !important;
    --bs-secondary-bg: #0F0F0F99 !important;
    --bs-primary: #005B41 !important;
    --bs-primary-rgb: 0, 91, 65 !important;
    --altrocolore: #008170;
    --note-color-0: var(--bs-body-bg) ;
    --note-color-1: #8a508f;
    --note-color-2: #cc0863;
    --note-color-3: #ff8531;
    --note-color-4: #8cb357;
    --note-color-5: #18bfae;
}

body {
    background: url(/img/peak_background.svg);
    background-size: cover;
    background-position: top left;
}

.secbg {
    background-color: var(--bs-secondary-bg);
    
}

.evidbg {
    background-color: var(--bs-primary);
}

.accentbg {
    background-color: var(--bs-body-bg);
}

.evidtext{
    color: var(--bs-primary);
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover, .btn-primary:active {
    background-color: rgba(var(--bs-primary-rgb), 0.5) !important;
    border-color: rgba(var(--bs-primary-rgb), 0.5) !important;
}

.form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-valid, .was-validated .form-control:valid {
    background-image: none !important;
}

.carousel-indicators [data-bs-target] {
    width: 50px;
    height: 4px;
    background-color: white !important;
}

.list-group-item {
    background: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    border-color: #ffffff1a;
    transition: all 0.2s ease;
}

.list-group-item:hover{
    filter:brightness(1.5);
    text-shadow: 0 0 20px #ffffff30;
}

.roundbtn:hover {
    filter: brightness(1.5);
    transform: scale(1.1);
}

#fullblur {
    backdrop-filter: blur(5px);
}


.roundbtn {
    width:3.5rem; 
    height:3.5rem;
    font-size: larger;
    font-weight: bolder;
    border-radius:50%;
    border:none;
    background-color: var(--bs-primary);
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.btn-close:focus {
    border: none;
    box-shadow: none !important;
}

.text-secondary {
    margin-bottom: 0;
}

.form-control:focus, .form-select:focus {
    box-shadow: none !important;
}

.btn-outline-secondary:hover , .btn-outline-secondary:active {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn.active {
    background-color: var(--altrocolore);
    border-color: var(--altrocolore);
}
#testonota:empty::before {
    content: attr(data-placeholder);
    color: #888;
    pointer-events: none;
}

.notegroup-1 {
    color: var(--note-color-1);
}
.notegroup-2 {
    color: var(--note-color-2);
}
.notegroup-3 {
    color: var(--note-color-3);
}
.notegroup-4 {
    color: var(--note-color-4);
}
.notegroup-5 {
    color: var(--note-color-5);
}

li[data-group="5"]::before {
    content: "⬤";
    color: var(--note-color-5);
}

li[data-group="4"]::before {
    content: "⬤";
    color: var(--note-color-4);
}

li[data-group="3"]::before {
    content: "⬤";
    color: var(--note-color-3);
}

li[data-group="2"]::before {
    content: "⬤";
    color: var(--note-color-2);
}

li[data-group="1"]::before {
    content: "⬤";
    color: var(--note-color-1);
}

li[data-group="0"]::before {
    content: "⬤";
    color: var(--note-color-0)
}